# Growth and Challenges
### A Deep Dive into South Asian Development

# EDA

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

#### Connect to file

In [ ]:

data=pd.read_csv('archive/South_Asian_dataset.csv')
data.head()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 13 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Country                                                              192 non-null    object
 1   Year                                                                 192 non-null    float64
 2   GDP (current US$)                                                    192 non-null    object
 3   GDP growth (annual %)                                                192 non-null    object
 4   GDP per capita (current US$)                                         192 non-null    object
 5   Unemployment, total (% of total labor force) (modeled ILO estimate)  192 non-null    float64
 6   Population, total                                                    192 non-null    float64
 7   Population growth (annual %)                                         192 non-null    object
 8   Life expectancy at birth, total (years)                              192 non-null    float64
 9   Mortality rate, infant (per 1,000 live births)                       192 non-null    float64
 10  Unnamed: 10                                                          0 non-null      float64
 11  Unnamed: 11                                                          0 non-null      float64
 12  Unnamed: 12                                                          0 non-null      float64
dtypes: float64(8), object(5)
memory usage: 20.3+ KB

In [ ]:
data = data.drop(columns=['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'])

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 10 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Country                                                              192 non-null    object
 1   Year                                                                 192 non-null    float64
 2   GDP (current US$)                                                    192 non-null    object
 3   GDP growth (annual %)                                                192 non-null    object
 4   GDP per capita (current US$)                                         192 non-null    object
 5   Unemployment, total (% of total labor force) (modeled ILO estimate)  192 non-null    float64
 6   Population, total                                                    192 non-null    float64
 7   Population growth (annual %)                                         192 non-null    object
 8   Life expectancy at birth, total (years)                              192 non-null    float64
 9   Mortality rate, infant (per 1,000 live births)                       192 non-null    float64
dtypes: float64(5), object(5)
memory usage: 15.7+ KB